{
"msg_host":    "msg.dev.v2.hykr.io",
"msg_port":    443,
"msg_api_key": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",

"kds_host":             "kds.dev.v2.hykr.io",
"kds_port":             443,
"kds_cache_expiration": -1,
"kds_api_key":          "UNTRUSTED_API_KEY",
"kds_root_certificate": "-----BEGIN CERTIFICATE-----\r\nMIIBgzCCASigAwIBAgIJAOLn4Zq3lDvDMAoGCCqGSM49BAMCMBwxGjAYBgNVBAMM\r\nEUh5a2VyIFNlY3VyaXR5IEFCMB4XDTE4MDYyODE1MjAxOFoXDTI4MDYyNTE1MjAx\r\nOFowHDEaMBgGA1UEAwwRSHlrZXIgU2VjdXJpdHkgQUIwWTATBgcqhkjOPQIBBggq\r\nhkjOPQMBBwNCAATPggeXMg47GZ8qyel8Mi89ywx8t5n2Go49LDcGy3LvaTWI6OBs\r\nslqFxGbfgCF7PYi7gkBTpn07PUaF4A8hDCXzo1MwUTAdBgNVHQ4EFgQU5igTuCb9\r\ns6cjzBz+Hxqy6IynFnEwHwYDVR0jBBgwFoAU5igTuCb9s6cjzBz+Hxqy6IynFnEw\r\nDwYDVR0TAQH/BAUwAwEB/zAKBggqhkjOPQQDAgNJADBGAiEAiL+0QeZMSNB6sLV+\r\nBAZs2xsy3EjLtUK2MpW/rHMIqjkCIQCLiw/3NNjC+kVLbN1epvrea4esQcyS8nhX\r\nbWtBiPjAYQ==\r\n-----END CERTIFICATE-----",

"storage_path":                 "./keys",
"replay_protector_window_size": 1000,
"key_relay_enabled":            false
}